html,body{
	height:100%;
	margin:0;
	padding:0
}
.loading{
	font-size:1.5em;
	text-align:center;
}
.loaded .loading{
	display:none;
}

.sidebarMenu{
	width: 200px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
}
